@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/comfortaa-v40-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/comfortaa-v40-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/comfortaa-v40-cyrillic_latin-700.woff2") format("woff2");
}
