html {
    height: 100%;
    background-color: #ECE5E4;
    scrollbar-gutter: stable; /* Reserve ~15px of empty space under the scrollbar when the modal window is active. */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Comfortaa", sans-serif;
    font-size: 6px;
    color: #2C2C2C;
}

@media (width < 400px) { html { font-size: 4.5px; } }
@media (400px <= width < 500px) { html { font-size: 5px; } }
@media (500px <= width < 600px) { html { font-size: 5.5px; } }

@media (600px <= width < 700px) { html { font-size: 6.5px; } }
@media (700px <= width < 800px) { html { font-size: 7px; } }
@media (800px <= width < 900px) { html { font-size: 7.5px; } }
@media (900px <= width < 1000px) { html { font-size: 8px; } }

@media (1000px <= width < 1100px) { html { font-size: 6px; } }
@media (1100px <= width < 1200px) { html { font-size: 6px; } }
@media (1200px <= width < 1300px) { html { font-size: 6px; } }
@media (1300px <= width < 1400px) { html { font-size: 6.5px; } }
@media (1400px <= width < 1500px) { html { font-size: 7px; } }
@media (1500px <= width < 1600px) { html { font-size: 7.5px; } }
@media (1600px <= width < 1700px) { html { font-size: 8px; } }
@media (1700px <= width < 1800px) { html { font-size: 8.5px; } }
@media (1800px <= width < 1900px) { html { font-size: 9px; } }
@media (1900px <= width) { html { font-size: 9.5px; } }
