.page {
    height: 100%;
    display: flex;
    align-items: stretch;
}
    .page::before {
        content: "";
        width: 43%;
        flex-shrink: 0;
        background-image: url("../images/illustrations.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .page__container {
        width: 57%;
        flex-shrink: 0;
    }
        .page__inner {
            min-height: 100%;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-rows: auto 1fr auto;
            padding: 10rem 2rem 17rem;
        }
            .page__header {

            }
                .page__logo {
                    display: block;
                    width: 28rem;
                    height: 14rem;
                    margin-left: auto;
                    margin-right: auto;
                    background-image: url("../images/logo.svg");
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                }

            .page__slogan {
                margin-top: 6rem;
                max-width: 90rem;
                margin-left: auto;
                margin-right: auto;
                font-size: 3.2rem;
                line-height: 1.4em;
                text-align: center;
                text-wrap: balance;
            }
                .page__line-break {

                }

            .page__footer {
                margin-top: 20rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
            }
                .page__section {

                }
                    .page__sub-heading {
                        margin-top: 0;
                        margin-bottom: 2.8rem;
                        font-weight: bold;
                        font-size: 3.4rem;
                    }

                    .page__contacts {

                    }
                        .page__channel {
                            display: block;
                            width: fit-content;
                            font-size: 2.6rem;
                            line-height: 1.4em;
                            color: inherit;
                            text-decoration-thickness: 0.075em;
                        }

                        .page__channel--email {

                        }

                        .page__channel--instagram {

                        }

                    .page__requisites {
                        font-weight: 500;
                        font-size: 2.3rem;
                        line-height: 1.4em;
                    }


@media (width < 1000px) {

    .page {

    }
        .page::before {
            display: none;
        }

        .page__container {
            width: 100%;
        }
}


@media (width < 600px) {

    .page {

    }
        .page::before {
            display: none;
        }

        .page__container {
            width: 100%;
        }
            .page__inner {
                padding-left: 8%;
                padding-right: 8%;
            }
                .page__header {

                }
                    .page__logo {

                    }

                .page__slogan {
                    font-size: 4.2rem;
                    text-wrap: inherit;
                }
                    .page__line-break {

                    }

                .page__footer {
                    display: block;
                }
                    .page__section {
                        margin-top: 10rem;
                    }
                        .page__sub-heading {
                            font-size: 4.5rem;
                        }

                        .page__contacts {

                        }
                            .page__channel {
                                font-size: 3.5rem;
                            }

                            .page__channel--email {

                            }

                            .page__channel--instagram {

                            }

                        .page__requisites {
                            font-size: 3.1rem;
                        }
}
