<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>


<div class="page">
    <h1 class="logo">GID Cosmetics</h1>
    <div class="page__slogan">Производим широкий ассортимент средств бытовой химии и уходной косметики</div>
</div>


<script src="../vendors/jquery/jquery-3.7.0.min.js"></script>
<script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../scripts/_mfp.js"></script>
<script src="../scripts/_input.js"></script>

</body>
</html>
